# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build output
dist/
build/

# Temporary files
*.tmp
*.swp
*.swo
*.swn

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.iml

# Cloudinary temp uploads (if applicable)
uploads/
